.login-wrapper{
    display: grid;
    place-items: center;
    gap: 5rem;
    height: 50vh;
}

.login{
    margin-top: 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.login-title{
    color:rgb(30,215,96);
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 7rem;
    margin: 2rem;
}

.login-subtitle{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin : 1rem;
    font-size: 1.3rem;
}

.login-button{
    background-color : rgb(30,215,96);
    font-family: 'Titillium Web', sans-serif;
    font-size : 1.4rem;
    font-weight : bolder;
    border: none;
    position: relative;
    text-decoration: none;
    padding: 1rem;
    min-width: 10rem;
    margin-bottom : 2rem;
    border-radius : 400px;
    font-family : 'Saira Condensed', sans-serif;
    text-transform: uppercase;
}

.login-button:hover {   
    background-color : rgb(255,255,255);
    color : rgb(30,215,96);
    transform: scale(0.96,0.96);
}

/* .login-button::after{
    content: "";
    position: absolute;
    background-color: rgb(30,215,96);
    width: 100%;
    height: 100%;
    left:0%;
    top: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1,0.4) ;
    filter: blur(1.1em);
} */

@media (max-width:900px) {
    .login{
        margin-top: 4rem;
        text-align: center;
    }
    .login-title{
        font-size: 6rem;
        margin: 1rem;
    }
    .login-wrapper{
        gap: 2rem;
    }
}

@media (max-width:580px) {
    .login{
        margin-top: 2rem;
    }
}